In [1]:
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn.model_selection import train_test_split

In [2]:
iris = datasets.load_iris()
X = pd.DataFrame(iris.data)
y = iris.target
yName = iris.target_names

In [42]:
X.describe()

                0           1           2           3
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.057333    3.758000    1.199333
std      0.828066    0.435866    1.765298    0.762238
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [43]:
X[:49].describe()

<bound method NDFrame.describe of       0    1    2    3
0   5.1  3.5  1.4  0.2
1   4.9  3.0  1.4  0.2
2   4.7  3.2  1.3  0.2
3   4.6  3.1  1.5  0.2
4   5.0  3.6  1.4  0.2
5   5.4  3.9  1.7  0.4
6   4.6  3.4  1.4  0.3
7   5.0  3.4  1.5  0.2
8   4.4  2.9  1.4  0.2
9   4.9  3.1  1.5  0.1
10  5.4  3.7  1.5  0.2
11  4.8  3.4  1.6  0.2
12  4.8  3.0  1.4  0.1
13  4.3  3.0  1.1  0.1
14  5.8  4.0  1.2  0.2
15  5.7  4.4  1.5  0.4
16  5.4  3.9  1.3  0.4
17  5.1  3.5  1.4  0.3
18  5.7  3.8  1.7  0.3
19  5.1  3.8  1.5  0.3
20  5.4  3.4  1.7  0.2
21  5.1  3.7  1.5  0.4
22  4.6  3.6  1.0  0.2
23  5.1  3.3  1.7  0.5
24  4.8  3.4  1.9  0.2
25  5.0  3.0  1.6  0.2
26  5.0  3.4  1.6  0.4
27  5.2  3.5  1.5  0.2
28  5.2  3.4  1.4  0.2
29  4.7  3.2  1.6  0.2
30  4.8  3.1  1.6  0.2
31  5.4  3.4  1.5  0.4
32  5.2  4.1  1.5  0.1
33  5.5  4.2  1.4  0.2
34  4.9  3.1  1.5  0.2
35  5.0  3.2  1.2  0.2
36  5.5  3.5  1.3  0.2
37  4.9  3.6  1.4  0.1
38  4.4  3.0  1.3  0.2
39  5.1  3.4  1.5  0.2
40  5.0  3.5  1.3  0.3
41  4.5  2.3  1.3  0.3
42  4.4  3.2  1.3  0.2
43  5.0  3.5  1.6  0.6
44  5.1  3.8  1.9  0.4
45  4.8  3.0  1.4  0.3
46  5.1  3.8  1.6  0.2
47  4.6  3.2  1.4  0.2
48  5.3  3.7  1.5  0.2>

In [44]:
X[50:99].describe()

               0          1          2          3
count  49.000000  49.000000  49.000000  49.000000
mean    5.940816   2.769388   4.263265   1.326531
std     0.520384   0.317020   0.474207   0.199766
min     4.900000   2.000000   3.000000   1.000000
25%     5.600000   2.500000   4.000000   1.200000
50%     5.900000   2.800000   4.400000   1.300000
75%     6.300000   3.000000   4.600000   1.500000
max     7.000000   3.400000   5.100000   1.800000

In [45]:
X[100:].describe()

              0          1          2         3
count  50.00000  50.000000  50.000000  50.00000
mean    6.58800   2.974000   5.552000   2.02600
std     0.63588   0.322497   0.551895   0.27465
min     4.90000   2.200000   4.500000   1.40000
25%     6.22500   2.800000   5.100000   1.80000
50%     6.50000   3.000000   5.550000   2.00000
75%     6.90000   3.175000   5.875000   2.30000
max     7.90000   3.800000   6.900000   2.50000

In [3]:
yName

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [8]:
X_train,X_test,y_train,y_test = train_test_split(X, y,
                                                 random_state=25,
                                                 test_size=0.2,
                                                 stratify=y)

In [ ]:
#可加入對 X_train的縮放

## 各分類器的訓練與評估

In [9]:
#SVC
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

clf01 = SVC()
clf01.fit(X_train, y_train)
score01 = accuracy_score(y_test, clf01.predict(X_test))
score01

1.0

In [10]:
import joblib

joblib.dump(clf01, "svc_model.joblib")

['svc_model.joblib']

In [17]:
#randomforest
from sklearn.ensemble import RandomForestClassifier

clf02 = RandomForestClassifier(n_estimators=800, criterion="gini",
                               max_depth=None, random_state=100,
                               max_features=0.8)
clf02.fit(X_train, y_train)

score02 = accuracy_score(y_test, clf02.predict(X_test))
score02

0.9

In [18]:
joblib.dump(clf02, "rf_model.joblib")

['rf_model.joblib']

In [23]:
#KNN
from sklearn.neighbors import KNeighborsClassifier

clf032 = KNeighborsClassifier(n_neighbors=3)#weights="distance"
clf032.fit(X_train, y_train)

score03 = accuracy_score(y_test, clf032.predict(X_test))
score03

0.9

In [24]:
joblib.dump(clf032, "knn_model.joblib")

['knn_model.joblib']

In [40]:
#LogisticRegression
from sklearn.linear_model import LogisticRegression

clf04 = LogisticRegression(C=1.8)
clf04.fit(X_train, y_train)

score04 = accuracy_score(y_test, clf04.predict(X_test))
score04

0.9333333333333333

In [41]:
joblib.dump(clf04, "lr_model.joblib")

['lr_model.joblib']